<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h1 class="centered capitalized">about us</h1>
                <p class="justified">eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus
                    mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in
                    egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam
                    sollicitudin tempor id eu nisl nunc mi</p>
                <p class="justified">eu turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus
                    mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in
                    egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor leo a diam
                    sollicitudin tempor id eu nisl nunc mi</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="centered capitalized">our awesome team</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>