
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h1 class="centered capitalized">about us</h1>
                <p class="justified">Teppanyaki Style Catering have proudly served the Temecula Valley Area.  Let us bring our Hibachi flavor to your next family reunion, birthday or any occasion where you want to relax and enjoy the food.
                    </p>
                <p class="justified">We are excited about the opportunity to serve you, so please contact us to serve your date and customize your TEPPANYAKI Menu!</p>
            </div>
            <div class="col-md-6 col-lg-5">
                <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="centered capitalized">our awesome team</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 card-container">
                <div class="card">
                    <img src="../../assets/image-placeholder.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <div class="card-img-overlay">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
                            </div>
                            <div class="col-4">
                                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>