<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<section>
    <div class="container contact">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-5 division">
                    <div class="card-body">
                        <h5 class="card-title">Contact Information</h5>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <p><i class="fas fa-phone-alt"></i> (951) 248-1548</p>
                                    <p><i class="fas fa-envelope"></i> support@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title top-division">Follow Us</h5>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <p><i class="fab fa-facebook-f"></i> facebook</p>
                                    <p><i class="fab fa-twitter"></i> Twitter</p>
                                    <p><i class="fab fa-instagram-square"></i> Instagram</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title top-division">Have a question? Let us know</h5>
                        <form [formGroup]="contactFormGroup">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">First Name</label>
                                    <input type="text" class="form-control" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Last Name</label>
                                    <input type="text" class="form-control" id="inputPassword4">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                            <button type="submit" class="btn btn-danger">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>