.bg-banner {
    
    background-size: 100%;
    color: #ffffff;
    &.c1 {
        text-align: left;

        background-image: url('../../assets/sushi-2853382_1920.jpg');
    }
    &.c2 {
        text-align: right;
        background-image: url('../../assets/sushi-2455981_1920.jpg');
    }
}
.menu-container {
    margin: 10px 0 40px 0;
}

.menu-item {
    margin-top: 10px;
    margin-bottom: 20px;
    .col-md-4 {
        .card-text {
            text-align: center;
        }
    }
    .col-3 {
        .card-text {
            text-align: left;
        }
    }
}

.alert {
    width: 100%;
    margin: 15px;
    border-radius: 0;
}

.no-margin {
    margin-bottom: 0;
}

.nav-link {
    color: #000000;
    border-radius: 0;
    &.active {
        background-color: red;
        color: #ffffff;
    }
}

section.red-banner {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #961c00;
    h3 {
        text-align: center;
        color: #ffffff;
    }
    button {
        border: 2px solid #ffffff;
        background-color: transparent;
        color: #ffffff;
        margin-top: 30px;
        &:hover {
            background-color: #ffffff;
            color: #961c00;
        }
    }
}
@media screen and (max-width: 768px) {
    .alert-mobile {
        font-size: 14px;
    }
}