.header-container {
    background-color: #000000;
    .top-header {
        img {
            display: block;
            margin: auto;
            width: 120px;
            height: 100px;
        }
        .col {
            padding-top: 25px;
            p {
                color: #ffffff;
                i {
                    color: red;
                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            button {
                display: block;
                margin-left: auto;
                width: 200px;
                height: 55px;
            }
            &.special.social {
                text-align: right;
                p {
                    display: inline;
                    margin: 0 15px 0 15px;
                }
            }
        }

    }

    nav {
        // font-family: YeonSung-Regular;
        a {
            &.navbar-brand {
                display: none;
            }
            color: #ffffff;
        }
        div {
            ul {
                font-size: 22px;
                margin: auto;
                li {
                    a, p {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
.only-mobile {
    display: none;
    i {
        color: red;
    }
    p {
        color: #ffffff;
        a {
            color: #ffffff;
            &.mobile-email {
                font-size: 18px;
            }
        }
    }
}

a.nav-link.active {
    // border-bottom: 2px solid red;
    color: red !important;
}

@media screen and (max-width: 768px) {
    .navbar {
        .navbar-brand {
            display: block !important;
            img {
                width: 70px;
                height: 50px;
            }
        }
    }

    hr {
        border: 1px solid #ffffff;
        width: 100%;
    }

    .top-header {
        display: none;
    }

    .only-mobile {
        display: block;
    }
}