<div class="header-container">
  <div class="top-header container">
    <div class="row">
      <div class="col special">
        <p>Hablamos español</p>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513900992"> (951) 390-0992</a></p>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513709195"> (951) 370-9195</a></p>
      </div>
      <div class="col">
        <img src="./../../../assets/teppanyaki_logo.png" alt="">
      </div>
      <div class="col special social">
        <p><a href="https://www.facebook.com/Teppanyaki-catering-108426080664142/" target="_blank"><i
              class="fab fa-facebook-f"></i></a> </p>
        <p><a href="https://www.instagram.com/teppanyakicateri/" target="_blank"><i
              class="fab fa-instagram-square"></i></a> </p>
        <p><a href="mailto:teppanyaki2catering@gmail.com"><i class="fas fa-envelope"></i></a> </p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/teppanyaki_logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': show}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu" routerLinkActive="active" (click)="toggleMenu()">Our Menu <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation" routerLinkActive="active" (click)="toggleMenu()">Reservation
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact Us <span
              class="sr-only">(current)</span></a>
        </li>
        <hr>
        <li class="nav-item only-mobile">
          <p>Hablamos español</p>
          <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513900992"> (951) 390-0992</a></p>
          <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513709195"> (951) 370-9195</a></p>
          <p><i class="fas fa-envelope"></i><a class="mobile-email" href="mailto:teppanyaki2catering@gmail.com">
              teppanyaki2catering@gmail.com</a></p>
        </li>
      </ul>
    </div>
  </nav>
</div>