<section>
    <div class="container">
        <div class="steps-form">
            <div class="steps-row setup-panel">
                <div class="steps-step">
                    <button class="btn btn-indigo btn-circle done">1</button>
                    <p>Event Info</p>
                </div>
                <div class="steps-step">
                    <button class="btn btn-default btn-circle done">2</button>
                    <p>Menu Options</p>
                </div>
                <div class="steps-step">
                    <button class="btn btn-default btn-circle current">3</button>
                    <p>Summary</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h3>Summary</h3>
        <div class="card" style="width: 100%">
            <div class="card-header">
                Contact Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p> <strong>Name: </strong> {{ pInfo.fName }} {{ pInfo.lName }} </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p> <strong>Address: </strong> {{ pInfo.addr }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p> <strong>Phone: </strong>{{ pInfo.phone }} </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p><strong>Email: </strong>{{ pInfo.email }}</p>
                    </div>
                </div>
            </div>

            <div class="card-header">
                Event Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p> <strong>Event Address: </strong> {{ pInfo.evtAddr }} </p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p> <strong>Date: </strong> {{ pInfo.evtDate }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p><strong>Guest Count: </strong>{{ pInfo.evtGC }}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p><strong>Service Style: </strong>{{ pInfo.evtSS }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p><strong>Type of Service: </strong>{{ pInfo.evtToE }}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p><strong>Time To Eat: </strong>{{ pInfo.evtTTE }}</p>
                    </div>
                </div>
            </div>
            <div class="card-header">
                Cost
            </div>
            <div class="card-body">
                <table class="table table-responsive table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Food</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Unit Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order; let i = index;">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.qty }}</td>
                            <td class="price_right">$ {{ item.price }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total</th>
                            <td colspan="4" class="price_right"> ${{ total }}</td>
                          </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger"
                (click)="finish()">Submit</button>
                <button type="button" class="btn btn-danger"
                (click)="reset('cancel')">Cancel</button>
            </div>
        </div>
    </div>
</section>