.price_right {
    text-align: right;
}

.btn_spacing {
    margin: 20px 0 20px 0;
}

.card {
    margin-bottom: 20px;
}

.btn.btn-danger, .btn.btn-warning {
    margin-right: 15px;
}
section.origin {
    margin-top: 40px;
    margin-bottom: 55px;
}

.card-body-empty {
    padding: 0 20px;
}