<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 top-spacing">
        <div class="col">
            <img class="img-fluid" src="./../../../assets/teppanyaki_logo.png" alt="">
        </div>
        <div class="col social">
            <div class="row">
              <div class="col-4">
                <img class="img-fluid" src="../../../assets/1450594015_facebook.png" alt="">
              </div>
              <div class="col-4">
                <img class="img-fluid" src="../../../assets/1450594022_twitter.png" alt="">
              </div>
              <div class="col-4">
                <img class="img-fluid" src="../../../assets/1450594067_instagram.png" alt="">
              </div>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4 top-spacing centered">
        <h1 class="capitalized">contact us</h1>
        <p>123 Street Ave, City, Zip Code, USA</p>
        <p><i class="fas fa-phone-alt"></i> +1 (951) 123 4567</p>
        <p><i class="fas fa-envelope"></i> support@mail.com</p>
      </div>
      <div class="col-12 col-md-4 col-lg-4 top-spacing centered">
        <h1 class="capitalized">other services</h1>
        <p>service 1</p>
        <p>service 2</p>
        <p>service 3</p>

        <h1 class="capitalized">Languages</h1>
        <p (click)="setLanguage('en')">English</p>
        <p (click)="setLanguage('es')" >Español</p>
      </div>
    </div>
    <div class="row">
      <h1 class="top-spacing p-centered legend">@2020 All Rights Reserved</h1>
    </div>
  </div>
</footer>