.footer {
    background-color: #343a40!important;
    color: #ffffff;
    padding-bottom: 30px;
}

.top-spacing {
    padding-top: 30px;
}

.legend {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .centered {
        text-align: center;
    }
    .footer {
        .capitalized {
            font-size: 26px;
        }
    }
}
