.footer {
    background-color: #000000!important;
    color: #ffffff;
    padding-bottom: 30px;
    h1 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    .social {
        p {
            &.right {
                text-align: right;
            }
            &.left {
                text-align: left;
            }
            
        }
        a {
            font-size: 20px;
        }
    }
}

.top-spacing {
    padding-top: 30px;
}

.legend {
    font-size: 16px;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .centered {
        text-align: center;
    }
    .footer {
        .capitalized {
            font-size: 26px;
        }
    }
}
