<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 col-lg-3 top-spacing">
        <div class="col">
          <img class="img-fluid pointer" src="./../../../assets/teppanyaki_logo.png" alt="">
        </div>
        <div class="col social">
          <div class="row">
            <div class="col-6">
              <p class="right"><a href="https://www.facebook.com/Teppanyaki-catering-108426080664142/"
                  target="_blank"><i class="fab fa-facebook-f"></i></a> </p>
            </div>
            <div class="col-6">
              <p class="left"><a href="https://www.instagram.com/teppanyakicateri/" target="_blank"><i
                    class="fab fa-instagram-square"></i></a> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-5 top-spacing centered">
        <h1 class="capitalized">contact us</h1>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513900992"> (951) 390-0992</a></p>
        <p><i class="fas fa-phone-alt"></i> <a href="tel:+19513709195"> (951) 370-9195</a></p>
        <p><i class="fas fa-envelope"></i><a class="mobile-email" href="mailto:teppanyaki2catering@gmail.com">
            teppanyaki2catering@gmail.com</a></p>
      </div>
      <div class="col-12 col-md-4 col-lg-4 top-spacing centered">
        <h1 class="capitalized">services</h1>
        <a class="nav-link" routerLink="/menu" routerLinkActive="active">Our
          Menu <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/reservation" routerLinkActive="active">Reservation <span
            class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us <span
            class="sr-only">(current)</span></a>
      </div>
    </div>
    <div class="row">
      <p class="top-spacing p-centered legend">@2020 All Rights Reserved</p>
    </div>
  </div>
</footer>