section.origin {
    margin-top: 40px;
    margin-bottom: 55px;
}

.row.drc {
    padding-top: 10px;
    padding-bottom: 5px;
}
.row.drc:nth-child(even) {
    background-color: gainsboro;
}

.btn.btn-danger, .btn.btn-warning {
    margin-top: 10px;
}
.btn.btn-danger, .btn.btn-warning {
    margin-right: 15px;
}