<section class="origin">
    <div class="container">
        <div class="steps-form">
            <div class="steps-row setup-panel">
                <div class="steps-step">
                    <button class="btn btn-indigo btn-circle done">1</button>
                    <p>Event Info</p>
                </div>
                <div class="steps-step">
                    <button class="btn btn-default btn-circle current">2</button>
                    <p>Menu Options</p>
                </div>
                <div class="steps-step">
                    <button class="btn btn-default btn-circle">3</button>
                    <p>Summary</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mb-3">
            <div class="card-body">

                <div *ngIf="pInfo.evtSS == 'Catering' && available">
                    <h3>Catering</h3>
                    <div class="row drc" *ngFor="let item of menuListCatering.catering">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                    <h3>Catering - Seafood</h3>
                    <div class="row drc" *ngFor="let item of menuListCatering.catering_seafood">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                    <h3>Catering for Kids</h3>
                    <div class="row drc" *ngFor="let item of menuListCatering.catering_kids">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                    <h3>Sides</h3>
                    <div class="row drc" *ngFor="let item of menuListCatering.sides">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                    <h3>Others</h3>
                    <div class="row drc" *ngFor="let item of menuListCatering.others">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                </div>

                <!-- Buffer Section  -->
                <div *ngIf="pInfo.evtSS == 'Buffet'">
                    <h3>Main Buffet</h3>
                    <div class="row" *ngFor="let item of menu.main">
                        <div class="col-8 col-md-10">
                            <div class="row">
                                <div class="col-8">
                                    <p><strong>{{ item.name }} </strong></p>
                                    <p> {{ item.description }}</p>
                                </div>
                                <div class="col-4">
                                    <strong>$ {{item.price}}</strong>
                                </div>
                            </div>

                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>

                    <h3>Sides</h3>
                    <h5>Minimum 10 items</h5>
                    <div *ngIf="menu.sides.length > 0">
                        <div class="row" *ngFor="let item of menu.sides">
                            <div class="col-8 col-md-10">
                                <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                            </div>
                            <div class="col-4 col-md-2">
                                <input type="number" class="form-control" [value]="item.qty" min="0"
                                    (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                            </div>
                        </div>
                    </div>

                    <h3>Extras</h3>
                    <div class="row" *ngFor="let item of menu.extras">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>

                    <h3>Others</h3>
                    <div class="row" *ngFor="let item of menu.others">
                        <div class="col-8 col-md-10">
                            <p>{{ item.name }} - <strong>$ {{item.price}}</strong></p>
                        </div>
                        <div class="col-4 col-md-2">
                            <input type="number" class="form-control" [value]="item.qty" min="0"
                                (input)="item.qty = $event.target.value" (change)="calculateAndNext()">
                        </div>
                    </div>
                </div>

                <button *ngIf="totalSidesSelected > 0" type="button" class="btn btn-danger"
                    [disabled]="total === 0 || totalSidesSelected < 10" (click)="next()">{{ template.next }}</button>
                <button *ngIf="totalSidesSelected == 0" type="button" class="btn btn-danger" [disabled]="total === 0"
                    (click)="next()">{{ template.next }}</button>
                <button type="button" class="btn btn-warning" (click)="skip()">Skip >></button>
            </div>
        </div>
    </div>
</section>