/* You can add global styles to this file, and also import other style files */
.centered {
    text-align: center;
}
.capitalized {
    text-transform: capitalize;
}

.jumbotron {
    border-radius: 0;
}

.justified {
    text-align: justify;
}

.p-centered {
    display: block;
    margin: auto;
}

.info {
    padding: 20px 0 0 0;
}

.btn {
    border-radius: 0;
}
input.form-control,
textarea.form-control {
    border-radius: 0;
}


@font-face {
    font-family: Damion-Regular;
    src: url("./assets/fonts/Damion-Regular.ttf");
}

@font-face {
    font-family: Macondo-Regular;
    src: url("./assets/fonts/Macondo-Regular.ttf");
}

@font-face {
    font-family: YeonSung-Regular;
    src: url("./assets/fonts/YeonSung-Regular.ttf");
}