<section class="banner">
    <div class="jumbotron jumbo-banner">
        <h1 class="display-4">Teppanyaki Style Catering</h1>
        <div class="container">
            <p class="lead">Proudly serving in the Temecula Valley Area bringing our Hibachi flavor to your next
                special event</p>
        </div>
    </div>
</section>

<section class="our-menu-intro">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8 info">
                    <h1 class="centered capitalized">our menu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 card-container">
                    <div class="card">
                        <img src="../../assets/buffet-2168675_640.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Catering</h3>
                            <hr>
                            <p class="card-text">For a minimum of 12 guest, All meals are served with fried rice or
                                steamed rice, vegetables, grilled edamame, our special homemade sauce & season fruit
                                salad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 card-container">
                    <div class="card">
                        <img src="../../assets/eat-3614411_640.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Buffet</h3>
                            <hr>
                            <p class="card-text">For a minimum of 50 guest, includes fried rice or steamed rice,
                                seasoned veggies, grilled edamame & season fruit salad with homemade dressing.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 card-container">
                    <div class="card">
                        <img src="../../assets/appetizers-2186535_640.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Sides</h3>
                            <hr>
                            <p class="card-text">Minimum 10 orders for catering & buffet. This can include Veggie fried
                                rice, Grilled pineapple, mushroom, garlic greenbeans and more.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col spacing">
                    <button type="button" class="btn btn-dark p-centered" routerLink="/menu">More Details</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container-fluid">
        <h1>Gallery</h1>
        <div class="container">
            <div class="row">
                <div class="column">
                    <!--
                   -->
                    <img src="../../assets/gallery/84304142_128762705316168_1235706281977708544_o.jpg">
                    <img src="../../assets/gallery/90653065_767662460309283_4655725968835477504_n.jpg">
                    <img src="../../assets/gallery/buffet-2168675_640.jpg">
                    <img src="../../assets/gallery/81645720_128762635316175_6060662217202728960_o.jpg">
                </div>
                <div class="column">
                    <img src="../../assets/gallery/83565369_739657409776455_8289796784092348416_n.jpg">
                    <img src="../../assets/gallery/90472031_767662480309281_6833801573668225024_n.jpg">
                    <img src="../../assets/gallery/84020193_126547752204330_3002939754955145216_n.jpg">
                    <img class="special-h-col-2"
                        src="../../assets/gallery/84169762_128762681982837_9121841470993596416_o-2.jpg">
                </div>
                <div class="column">
                    <img src="../../assets/gallery/84399698_739657793109750_8972789956745363456_o.jpg">
                    <img src="../../assets/gallery/90470622_767662506975945_6724287367978418176_n.jpg">
                    <img src="../../assets/gallery/83943194_126547692204336_2766937220504879104_n.jpg">
                    <img src="../../assets/gallery/83413289_128760825316356_3942753533614358528_o.jpg">
                    <img class="special-h-col-3"
                        src="../../assets/gallery/81870304_103299327862506_2488028336429727744_n-2.jpg">
                </div>
                <div class="column">
                    <img src="../../assets/gallery/81365076_103299364529169_5218637572493803520_n.jpg">
                    <img src="../../assets/gallery/84260601_126547588871013_8450310006980476928_n.jpg">
                    <img src="../../assets/gallery/84880874_126547792204326_1993906561071710208_n.jpg">
                    <img class="special-h-col-4"
                        src="../../assets/gallery/83888341_128762618649510_4396619984961273856_o.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="red-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Are you having a special event? Contact us and make your reservation. We would love to make your event even more memorable.</h3>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-dark p-centered" routerLink="/reservation">Make a reservation</button>
            </div>
        </div>
    </div>
</section>